// colours
$grey900: #141414;
$grey800: #1f1f1f;
$grey700: #333333;
$lime-green: #c4f82a;
$white: #ffffff;

// heights and margins
$margin-bottom: 24px;
$heading-height: 36px;
$standard-height: 21px;
